{% extends "base.html" %}

{% block title %} Login {% endblock title %}


{% block heading %} Login {% endblock heading %}


{% block content %}

    {% if messages %}
        {% for message in messages %}
            <p {% if message.tags %} class="alert alert-{{message.tags}} alert-dismissible fade show" {% endif %}>
                {{message}}
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            </p>
        {% endfor %}
    {% endif %}


    {% for fm in form %}
        <p>{{fm.label_tag}} {{fm}} {{fm.errors | striptags}}</p><br />
    {% endfor %}

    <input type="submit" value="Login" class="btn btn-success">
        
    <p class="mt-2">Don't have an account? <a href="{% url 'signup' %}">Sign Up</a></p>
    
{% endblock content %}